/* Matías (1-50) */




























































































/* /Matías */
/* Nema (51-100) */
header{
    background-color: transparent;
    background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.3)
    ), url(Img/69cd25_04cddd545c064d5394275f3c2ade52f1~mv2_d_3000_1687_s_2.webp) no-repeat center;
    background-size:cover;
}
h1{
    width: 100%;
    font-size:37px;
    font-weight: 700;
    line-height:1.2em;
    color: white;
    text-align: left;
}
.logo1{
    width: 80%;
    margin: 0 auto;
    display: block;
}
.logo2{
    width: 70%;
    margin: 0 auto;
    display: block;
}
.button{
    background-color: transparent; 
    color: white;
    border-radius: 50px; border: 2.5px solid;
    font-size: 17px; padding: 10px 31px;
    margin-bottom: 40px;
}
.subtitle{
    color: white;
    font-size:26px;
    font-weight: 350;
    text-align: left;
    margin-bottom: 1.75em;
}
#icons {
 display: none;
}
#header{
    padding-bottom: 3em;
}
.text-hero {
    color: white;
    width: 90%;
    margin: 0 auto;
    display: block;
}
button{
    height: 52px;
    min-height: 24px;
    width: 189px;
    background-color: transparent;
    border: solid rgba(255, 255, 255, 1) 2px;
    border-radius: 30px 30px 30px 30px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    cursor: pointer !important;
}
button:hover {
    color: white;
    background-color: rgba(50, 50, 50, 1);
    border-color: transparent;
}
.text-hero p{
    font-size: 24px;
}
@media screen and (min-width:768px) {
            /* aqui inicia los estilos de tablet*/
            
            #header{
                display:grid;
                grid-template: 1fr/ 1fr 4fr 1fr
            }
            h1{
                display: grid;
                width: 75%;
                font-size:45px;
                font-weight: 700;
                line-height:1.2em;
                color: white;
                text-align: left;
                margin-top: 15%;
            }
           #icons {
                display:block;
                width: 60%;
                color: white;
                margin:auto;
            }
            .logo1{
                width: 190%;
                margin: 0 auto;
                padding-left: 25%
            }
            .logo2{                                         
                width: 100%;
                margin:auto;
            }
            /* aqui inicia los estilos de tablet*/
}
    @media screen and (min-width:1024px){
            /* aqui inicia los estilos de tablet*/
        .logo1{
                width: 160%;
                margin: 0 auto;
                margin-left: 35%
            }
        .logo2{
                width: 70%;
                margin:auto;
            }
            /* aqui inicia los estilos de tablet*/
}
/* /Nema */
/* Manuel (101-150) */
#beneficios{
    display: block;
    margin: 0 auto;
    max-width: 1020px;
}
h2{
    font-size: 32px;
    text-align: center;
    line-height: 1.4em;
}
.beneficio{
    width: 90%;
    margin: 1.5em auto;
    display: block;
    
}
.beneficio img{
    display: inline-block;
    width: 12%;
    margin-right: 4%;
    max-width: 50px;
    vertical-align: top;
}
.beneficio div{
    display: inline-block;
    width: 81%;
}
.beneficio h4{
    margin-top: 0;
    
}
        @media screen and (min-width:768px) {
            /* aqui inicia los estilos de tablet*/
            #beneficios{
                display: grid;
                grid-template: 6em 1fr 1fr/50% 50%;
            }
            #beneficios h2{
                grid-column-start: 1;
                grid-column-end: 3;
            }
            #beneficios img{
                margin-right: 19px;
            }
            /* aqui inicia los estilos de tablet*/
        }
         @media screen and (min-width:1024px) {
            /* aqui inicia los estilos de tablet*/
            #beneficios{
                display: grid;
                grid-template: 6em 1fr 1fr/50% 50%;
            }
            #beneficios h2{
                grid-column-start: 1;
                grid-column-end: 3;
            }
            #beneficios img{
                margin-right: 19px;
            }
            /* aqui inicia los estilos de tablet*/
}
/* /Manuel */
/* Juan (151-200) */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
            background: white;
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;

        }

        
       #acercade{
        display: block;
        max-width: 1020px;
        margin: 0 auto;

       }
       
       #ventajas{
       	display: block;
       	max-width: 100px;
       }
        }
        section{
            background: lightgray;
            position: relative;
            grid-column: 1 / 2;
        }
        nav{
            background: yellow;
        }
        .contenedor {
            display: grid;
            grid-template-columns: 100px 100px;
        }
        article{
            background: red;

        }
        footer{
            background: orange;
            text-align: center;
            height: 70px;
            width: 100%;
            margin: 0;
        }
        
        *{
            box-sizing: border-box;
        }
        @media screen and (min-width: 768px){
         /*aqui inician los estilos de tablet*/
         section{
            display:grid;
            grid-template: 1fr / 200px 1fr; 
        }
       
         /*aqui terminan los estilos de tablet*/
        }

        @media screen and (min-width: 1024px){
         /*aqui inician los estilos de laptop*/
 
            h1 {
                font-size: 48px;
            }
           
            section{
                grid-template: 1fr / 300px 1fr;
            }
















































/* /Juan */
/* Ruth (201-) */
















































/* /Ruth */