/* Matías (1-50) */
















































/* /Matías */
/* Nema (51-100) */
















































/* /Nema */
/* Manuel (101-150) */
#beneficios{
    display: block;
    margin: 0 auto;
    max-width: 1020px;
}
        @media screen and (min-width:768px) {
            /* aqui inicia los estilos de tablet*/
            
            /* aqui inicia los estilos de tablet*/
        }
         @media screen and (min-width:1024px) {
            /* aqui inicia los estilos de tablet*/
             
            /* aqui inicia los estilos de tablet*/
}
/* /Manuel */
/* Juan (151-200) */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
            background: white;
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;

        }

        
   
       }
      
       #acercade{
        display: block;
        max-width: 1020px;
        margin: 0 auto;
        grid-column: 1;
        grid-row: 2;

       }
       
       #ventajas{
       	display: block;
       	max-width: 100px;
       }
        }
        section{
            background: lightgray;
            position: relative;
            grid-column: 1 / 2;
        }
        nav{
            background: yellow;
        }
        .contenedor {
            display: grid;
            grid-template-columns: 100px 100px;
        }
        article{
            background: red;

        }
        footer{
            background: orange;
            text-align: center;
            height: 70px;
            width: 100%;
            margin: 0;
        }


        
        *{
            box-sizing: border-box;
        }
        @media screen and (min-width: 768px){
         /*aqui inician los estilos de tablet*/
         section{
            display:grid;
            grid-template: 1fr / 200px 1fr; 
        }
       
         /*aqui terminan los estilos de tablet*/
        }

        @media screen and (min-width: 1024px){
         /*aqui inician los estilos de laptop*/
 
            h1 {
                font-size: 48px;
            }
           
            section{
                grid-template: 1fr / 300px 1fr;
            }
















































/* /Juan */
/* Ruth (201-) */
















































/* /Ruth */