/* Matías (1-50) */
#why {
    width: 100%;
    height: auto;
    display: grid;
    position: relative;
    justify-content: center;
}
.title4 { 
    position: static;
    display: grid;
    height: auto;
    width: 280px;
    grid-template-rows: 1fr;
    justify-content: center;
}
.title4 h4 {
    width: 180px;
    color: #1D1E21;
    position: relative;
    margin: 115px 0px 10px;
    left: 57px;
}
.num p {
    visibility: inherit;
    margin: -176px 0px 0px;
    width: 208px;
    font-size:176px;
    line-height: 1.4em;
    font-weight: 700;
}
#num01 {
    color:#C0FCFC;
}
#num02 {
    color:#ECDBFF;
}
#num03 {
    color:#D4EDEE;
}
#cta{
position: static;
display: inline-block;
height: auto;
width: 100%;
grid-template-rows:1fr;
grid-template-columns: 100%;
justify-content: center;
}
#cta p {
    font-size: 15px;
    color: #787C88;
    position: relative;
    margin: -30px 45px 0px;
    font-weight: 700;
}
#cta div {
    justify-content: center;
    display: grid;
}
form {
    height: auto;
    position: relative;
    justify-content: center;
    display: grid;
}
input {
    width: 400px;
    height: 50px;
    border-radius: 6px;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box !important;
    color: #00A6FF;
    border-style: solid;
    border-color: rgba(198, 226, 247, 1);
    padding: 20px;
    margin: 5px;
    text-overflow: ellipsis;
    display: grid;
    font-family:'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 14px/1.4em;
}
input:hover{
    border-width: 1px;
    background-color: rgba(234, 247, 255, 1);
    border-style: solid;
    border-color: rgba(198, 226, 247, 1);
}
form button {
    background-color: transparent;
border: solid rgba(29, 30, 33, 1) 2px;
    color: black;
     height: 36px;
    min-height: 24px;
    width: 120px;
}
form div {
    justify-content: center;
    display: grid;
}
 @media screen and (min-width: 768px){
         /*aqui inician los estilos de tablet*/
       #why {
     display: flex;
            }
                 input {
    width: 668px;
  }
         /*aqui terminan los estilos de tablet*/
        }

        @media screen and (min-width: 1024px){
         /*aqui inician los estilos de laptop*/
 #why {
     display: flex;
            }
            input {
    width: 724px;
  }
         /*aqui terminan los estilos de laptop*/
            }

/* /Matías */
/* Nema (51-100) */
header{
  background-color: transparent;
}
h1{
    width: 620px;
    font-size:49px;
    font-weight: 900;
    line-height:1.2em;
    color: white;
    text-align: left;
}
#logos img {
    margin: 15px;
}
.button{
    background-color: transparent; 
    color: white;
    border-radius: 50px; border: 2.5px solid;
    font-size: 17px; padding: 10px 31px;
}
.subtitle{
    color: white;
    font-weight: 500;
    text-align: left;
}
.hero-image {
    background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.3)
    ), url(Img/69cd25_04cddd545c064d5394275f3c2ade52f1~mv2_d_3000_1687_s_2.webp) no-repeat center;
    background-size:cover;
    height: 100%;
    position: relative;
    padding-bottom: 60px;
}
.hero-logo {
   display: grid;
   /*grid-template-columns:50px 1fr 1fr 1fr 50px; */
   grid-template-rows: 80px;
    padding-top: 10px;
}
#logos {
    grid-column-start: 2;
    vertical-align: top;
}
#icons {
    grid-column-start: 4;
    color: white;
}
.text-hero {
    color: white;
    padding-left: 50px;
    position: relative;
}

button{
    height: 52px;
    min-height: 24px;
    width: 189px;
    background-color: transparent;
    border: solid rgba(255, 255, 255, 1) 2px;
    border-radius: 30px 30px 30px 30px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    cursor: pointer !important;
}
button:hover {
    color: white;
    background-color: rgba(50, 50, 50, 1);
    border-color: transparent;
}
.text-hero p{
    font-size: 24px;
}
/* /Nema */
/* Manuel (101-150) */
#beneficios{
    display: block;
    margin: 0 auto;
    max-width: 1020px;
}
h2{
    font-size: 32px;
    text-align: center;
    line-height: 1.4em;
}
.beneficio{
    width: 90%;
    margin: 1.5em auto;
    display: block;
    
}
.beneficio img{
    display: inline-block;
    width: 12%;
    margin-right: 6%;
    max-width: 60px;
}
.beneficio div{
    display: inline-block;
    width: 81%;
}
        @media screen and (min-width:768px) {
            /* aqui inicia los estilos de tablet*/
            .beneficio img, div{
                display: inline-grid;
                grid-template-columns: 
            }
            /* aqui inicia los estilos de tablet*/
        }
         @media screen and (min-width:1024px) {
            /* aqui inicia los estilos de tablet*/
              .beneficio img, div{
                display: grid;
            /* aqui inicia los estilos de tablet*/
}
/* /Manuel */
/* Juan (151-200) */
body{
            background: white;
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;

        }

        
       #acercade{
        display: block;
        max-width: 1020px;
        margin: 0 auto;

       }
       
       #ventajas{
       	display: block;
       	max-width: 100px;
       }
     
        .contenedor {
            display: grid;
            grid-template-columns: 100px 100px;
        }

        }
       
        
        *{
            box-sizing: border-box;
        }
        















































/* /Juan */
/* Ruth (201-) */
















































/* /Ruth */