/* Matías (1-50) */
header{
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}
.hero-image {
    background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.3)
    ), url(Img/69cd25_04cddd545c064d5394275f3c2ade52f1~mv2_d_3000_1687_s_2.webp) no-repeat center;
    background-size:cover;
    height: 100%;
    position: relative;
    padding-bottom: 60px;
}
.hero-logo {
   display: grid;
   /*grid-template-columns:50px 1fr 1fr 1fr 50px; */
   grid-template-rows: 80px;
    padding-top: 10px;
}
#logos {
    grid-column-start: 2;
    vertical-align: top;
}
#icons {
    grid-column-start: 4;
    color: white;
}
.text-hero {
    color: white;
    padding-left: 50px;
    position: relative;
}
h1{
    font-weight: 900;
    font-size: 49px;
}
button{
    height: 52px;
    min-height: 24px;
    width: 189px;
    background-color: transparent;
    border: solid rgba(255, 255, 255, 1) 2px;
    border-radius: 30px 30px 30px 30px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    cursor: pointer !important;
}
button:hover {
    background-color: rgba(50, 50, 50, 1);
    border-color: transparent;
}
.text-hero p{
    font-size: 24px;
}
/* /Matías */
/* Nema (51-100) */
















































/* /Nema */
/* Manuel (101-150) */
#beneficios{
    display: block;
    margin: 0 auto;
    max-width: 1020px;
}
        @media screen and (min-width:768px) {
            /* aqui inicia los estilos de tablet*/
            
            /* aqui inicia los estilos de tablet*/
        }
         @media screen and (min-width:1024px) {
            /* aqui inicia los estilos de tablet*/
             
            /* aqui inicia los estilos de tablet*/
}
/* /Manuel */
/* Juan (151-200) */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
            background: white;
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;

        }

        
       #acercade{
        display: block;
        max-width: 1020px;
        margin: 0 auto;

       }
       
       #ventajas{
       	display: block;
       	max-width: 100px;
       }
        }
        section{
            background: lightgray;
            position: relative;
            grid-column: 1 / 2;
        }
        nav{
            background: yellow;
        }
        .contenedor {
            display: grid;
            grid-template-columns: 100px 100px;
        }
        article{
            background: red;

        }
        footer{
            background: orange;
            text-align: center;
            height: 70px;
            width: 100%;
            margin: 0;
        }
        
        *{
            box-sizing: border-box;
        }
        @media screen and (min-width: 768px){
         /*aqui inician los estilos de tablet*/
         section{
            display:grid;
            grid-template: 1fr / 200px 1fr; 
        }
       
         /*aqui terminan los estilos de tablet*/
        }

        @media screen and (min-width: 1024px){
         /*aqui inician los estilos de laptop*/
 
            h1 {
                font-size: 48px;
            }
           
            section{
                grid-template: 1fr / 300px 1fr;
            }
















































/* /Juan */
/* Ruth (201-) */
















































/* /Ruth */